#contact {
    margin-top: 50px;
    height: auto;
}
#contact .hero {
    margin-bottom: 20px;
}
#contact .hero h1 {font-size: 30px;font-weight: 900;}
#contact .hero h3 {font-size: 20px; text-align: justify;}

form .big-container {
    flex-wrap: wrap;
    margin-bottom: 20px;
}
form .big-container .input-container {
    width: 48%;
    height: 50px;
    background-color: var(--third-color);
    position: relative;
}
form .big-container .input-container input,
form .big-container select,
form .last-cnt textarea {
    background-color: transparent;
    width: 100%;
    height: 50px;
    padding: 0 0 0 20px;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    border: 2px solid var(--secondary-color);   
}
form .big-container .input-container input::placeholder,
form .big-container select::placeholder,
form .last-cnt textarea::placeholder {
    color: var(--secondary-color);
}
form .big-container select {background-color: var(--third-color); color: var(--secondary-color);}
form .big-container .input-container i {
    position: absolute;
    top: 10px;
    right: 25px;
    color: red;
    font-size: 30px;
    margin-left: 20px;
}
form .last-cnt .input-container,
form .last-cnt textarea {
    width: 100%;
    height: 120px;
}   
form .last-cnt textarea {padding: 10px 0 0 20px; resize: none; outline: 0;}

form .sending div {display: flex; align-items: center;}
form .sending input {margin-right: 10px;}
form .sending label {font-weight: 600;}

form .sending button {
    padding: 15px 25px;
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

form .big-container  select {outline: 0;}
form .big-container  select.invalid {
    color: red;
    border:2px solid red;
    border-right: 8px solid red;
}
form .big-container  select.valid {
    color: green;
    border:2px solid green;
    border-right: 8px solid green;
}
/* INVALID INPUTS */ 
form .big-container .input-container input.invalid, 
form .big-container .input-container textarea.invalid {
    border:2px solid red;
    border-right: 8px solid red;
    color: red;
}
form .big-container .input-container input.invalid::placeholder, 
form .big-container .input-container textarea.invalid::placeholder {
    color: red;
}

/* VALID INPUTS */ 
form .big-container .input-container input.valid, 
form .big-container .input-container textarea.valid {
    border:2px solid green;
    border-right: 8px solid green;
    color: green;
}
form .big-container .input-container input.valid::placeholder, 
form .big-container .input-container textarea.valid::placeholder {
    color: green;
}
/* HIDDEN ELEMENTS */ 
.hidden {display: none;}
/* THANK YOU POP UP */
.form .thank-you {
    background-color: var(--third-color);
    padding: 50px 40px;
    justify-content: space-between;
    align-items: center;
}
.form .thank-you i {
    font-size: 100px;
    color: var(--secondary-color);

}


@media (max-width:700px) {

    form .big-container .input-container {width: 100%;}
    form .big-container input {margin-bottom: 20px;}
    form .big-container .input-container i {
        font-size: 20px;
        top: 15px;
        right: 15px;
    }
    form .big-container {
        height: 120px;
        align-items: stretch;
        margin-bottom: 0;
    }
    form .sending {margin-top: 20px;}
    
    .form .thank-you h1 {width: 100%;}
    .form .thank-you {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .form .thank-you i {margin-top: 20px;}
    
}