#contact {
    margin-top: 200px;
    height: auto;
}
#contact .hero {
    margin-bottom: 20px;
}
#contact .hero h1 {font-size: 30px;font-weight: 900;}
#contact .hero h3 {font-size: 20px; text-align: justify;}

form .big-container {
    flex-wrap: wrap;
    margin-bottom: 20px;
}
form .big-container .input-container {
    width: 48%;
    height: 50px;
    background-color: #eaeaea;
    position: relative;
}
form .big-container .input-container input,
form .big-container select,
form .last-cnt textarea {
    background-color: transparent;
    width: 100%;
    height: 50px;
    padding: 0 0 0 20px;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    border: 2px solid #ddd;
    
}
form .big-container select {background-color: #ddd; color: #808080;}
form .big-container .input-container i {
    position: absolute;
    top: 10px;
    right: 20px;
    color: red;
    font-size: 30px;
    margin-left: 20px;
}
form .last-cnt .input-container,
form .last-cnt textarea {
    width: 100%;
    height: 120px;
}   
form .last-cnt textarea {padding: 10px 0 0 20px; resize: none; outline: 0;}

form .sending div {display: flex; align-items: center;}
form .sending input {margin-right: 10px;}
form .sending label {font-weight: 600;}
form .sending button {
    padding: 15px 25px;
    background-color: #808080;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}


form .big-container .input-container input.invalid, 
form .big-container .input-container textarea.invalid,
form .big-container .input-container select.invalid {
    border:2px solid red;
}
form .big-container .input-container input.valid, 
form .big-container .input-container textarea.valid,
form .big-container .input-container select.valid {
    border:2px solid green;
}
.hidden {display: none;}


@media (max-width:700px) {

    form .big-container .input-container {width: 100%;}
    form .big-container input {margin-bottom: 20px;}
    form .big-container .input-container i {
        font-size: 20px;
        top: 15px;
        right: 10px;
    }
    form .big-container {
        height: 120px;
        align-items: stretch;
        margin-bottom: 0;
    }
    form .sending {margin-top: 20px;}
    
}